body {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    /* color: #14fd6d; */
    color: #66dc93;
    background-color: #031e11;
    
}

.container {
  
}

.title {
 text-align: center;
 margin-top: 5vh;
 font-size: 7vh;
 padding: 20px;
}

.info-text {
    text-align: center;
    font-size: 1vw;
}

.number-guesses {
    position: relative;
    top: 5vW;
    left: 4vw;
    color: yellow;
    font-size: 1.3vw;
}

.wrapper {
    text-align: center;
    margin-top: 20vh;
}

.answer {
    box-sizing: border-box;
    font-size: 3.5vw;
    width: 100%;
}

.bad-guesses {
    font-size: 1.3vw;
    margin-top: 15vh;
    color: rgba(255, 0, 0, 0.5);
}

.warningMessage{
    
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 160px;
    transform: translateX(-50%);
    
}

.warningMessage h6 {
    
    font-size: 1vw;
    background: #5fd189;
    color: #6e7958;
    padding: .5vw;
}

.warningMessageSubText {
    font-size: 1vw;
    background: #353535;
    padding: .5vw;
    color: #66dc93; 
    
}

